@import '../../../main';

.address-form-container{
  max-width: 30rem;
}

.address-form{
  margin: 0.5rem 0;
}

.address-form label{
  margin: 0.25rem 0;
}

.address-form-submitButton{
  height: 2rem;
}