@import '../../main';

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.product-name{
  margin-top: 0;
}

.product-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.img-container img{
  width: 15rem; 
  margin-bottom: 1rem;
}

.product-content p{
  margin: 0.25rem;;
}

.product-details-add-button{
  width: 8rem;
  height: 2rem;
}

.prod-recomm-img{
  max-width: 10rem;
}

.product-recommendations{
  margin-top: 3rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-recomm-card{
  display: flex;
  flex-direction: column-reverse;
  @extend %flex-all-center;
}

.prod-recomm-img:hover{
  transform: scale(1.25);
  transition: .2s;
}
@media (min-width: $tablet) {  


  .product-recomm-list{
    display: flex;
  }
  
  .product{
    margin-top: 4rem;
  }

  .product-description{
    width: 16rem;
    max-width: 16rem;
  }

  .product-content{ 
    flex-direction: row;
  }

  .img-container img{
    width: 30rem; 
  } 
  
}


@media (min-width: $laptop) {  
  .product-description{
    width: 30rem;
    max-width: 30rem;
  }  
  
}